header {
  .page {
    position: absolute;
    height: 50px;
    width: calc(75% - 100px);
    margin-left: 25%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    z-index: 5;
    .menu {
      opacity: 0;
      pointer-events: none;
      flex: 1;
      transition: all 350ms ease-in-out;
      max-width: 570px;
      &.enter {
        opacity: 1;
        pointer-events: all;
      }
      ul {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
        max-width: 100%;
        li {
          display: block;
          a {
            font-weight: bold;
            font-style: normal;
          }
        }
      }
    }
    .lg {
      flex: 1;
      max-width: 60px;
      ul {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
        li {
          display: block;
          a {
            font-weight: 500;
            font-style: normal;
            font-size: 0.75em;
          }
        }
      }
    }
    a {
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      font-family: "Brandon Grotesque";
      text-transform: uppercase;
      font-size: 0.875em;
      color: #000;
      transition: all 350ms ease-in-out;
      position: relative;
      &:hover {
        color: #c2a573;
        &:before {
          width: 100%;
        }
      }
      &.active {
        color: #c2a573;
        &:before {
          width: 100%;
        }
      }
      &:before {
        content: " ";
        width: 0;
        height: 1px;
        background-color: #c2a573;
        position: absolute;
        bottom: 0;
        transition: all 350ms ease-in-out;
      }
    }
  }
}
