*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Global Theme Styles
html {
  body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    &.block-scroll {
      overflow: hidden;
    }
    @media only screen and (max-width: 1325px) {
      font-size: 14px;
    }
    @media only screen and (max-width: 1183px) {
      font-size: 12px;
    }
    @media only screen and (max-width: 400px) {
      font-size: 12px;
    }
  }
}
