section.conceito {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  .conteudo {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  section.conceito {
    overflow: initial;
    display: block;
    position: relative;
    .conteudo {
      margin: 0px;
      padding: 15px;
      display: block;
      display: block;
      position: relative;
    }
  }
}
