section.experiencia {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  .conteudo {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin-left: 25%;
    .btn-modal {
      margin: 0.5em;
      span {
        cursor: pointer;
        font-family: "Brandon Grotesque";
        color: #c2a573;
        font-weight: 900;
        font-size: 1.2em;
        line-height: 1.2em;
        line-height: 1.66666666em;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 2em;
      }
    }
    .box {
      overflow-y: scroll;
      position: absolute;
      left: 0;
      height: calc(90% - 100px);
      width: calc(75% - 215px);
      margin-left: 25%;
      background-color: #fff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 50px;
      z-index: 5;
      transform: translateX(-140%);
      transition: all 350ms ease-in-out;
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      .item {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 15px;
        p {
          margin: 0;
        }
        &:before {
          content: "";
          width: 5px;
          height: 5px;
          display: flex;
          position: absolute;
          left: 0.2em;
          top: 0.6em;
          background-color: #c2a573;
          border-radius: 15px;
        }
      }
      &.open {
        transform: translateX(0);
      }
      span.title {
        cursor: pointer;
        font-family: "Brandon Grotesque";
        color: #6e6e6e;
        font-weight: 900;
        font-size: 1.2em;
        line-height: 1.2em;
        line-height: 1.66666666em;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 2em;
      }
      .btn-close {
        background-image: url("../assets/close.png");
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        cursor: pointer;
      }
      .item {
        margin: 1.5em 0;
      }
    }
    .conceitos {
      font-family: "Brandon Grotesque";
      color: #6e6e6e;
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.2em;
      line-height: 1.66666666em;
      text-transform: uppercase;
      position: relative;
      margin: 0.5em;
    }
  }
}

@media only screen and (max-width: 750px) {
  section.experiencia {
    min-height: auto;
    width: 100%;
    overflow: initial;
    display: block;
    position: relative;
    min-height: auto;
    .conteudo {
      margin: 0;
      max-width: 100%;
      padding: 15px;
      overflow: hidden;
      .box {
        margin: 0;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        position: fixed;
        width: calc(100% - 30px);
        height: calc(100% - 105px);
        padding: 15px;
        display: table-column;
        box-shadow: none;
        margin: 75px 0 0;
      }
    }
  }
}
