header {
  height: 50px;
  display: flex;
  margin: 0;
  position: fixed;
  height: 50px;
  width: calc(75% - 100px);
  padding: 0 50px 0 calc(25% + 50px);
  z-index: 5;
  justify-content: space-between;
  background-color: #fff;
  transition: transform 350ms ease-in-out !important;
  &.hidden {
    transform: translateY(-100%) !important;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
    &.menu {
      max-width: 575px;
    }
    &.lg {
      max-width: 60px;
    }
    li {
      display: block;
      position: relative;
      &:hover {
        a {
          color: #c2a573;
        }
        &:before {
          width: 100%;
        }
      }
      &.active {
        a {
          color: #c2a573;
        }
        &:before {
          width: 100%;
        }
      }
      &:before {
        content: " ";
        width: 0;
        height: 1px;
        background-color: #c2a573;
        position: absolute;
        bottom: 0;
        transition: all 350ms ease-in-out;
      }
      a {
        font-family: "Brandon Grotesque";
        font-size: 0.75em;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #000;
        text-decoration: none !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column;
    transform: translateX(100%) !important;
    transition: all 350ms ease-in-out;
    opacity: 0 !important;
    z-index: 15;
    &.active {
      transform: translateX(0) !important;
      opacity: 1 !important;
    }
    ul {
      &.menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
      }
      &.lg {
        max-height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100%;
      }
    }
  }
}
