section.imprensa {
  width: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  .conteudo {
    flex: 1;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 60%;
    margin-left: 25%;
    overflow: hidden;
    &.open {
      justify-content: flex-start;
    }
    .acordion {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid;
      color: #626262;
      cursor: pointer;
      .titulo {
        font-family: "Brandon Grotesque";
        color: #c2a573;
        font-weight: 900;
        font-size: 0.9375em;
        line-height: 1.66666666em;
        text-transform: uppercase;
        position: relative;
        max-width: 90%;
      }
      .box-conteudo {
        overflow: hidden;
        max-height: 3em;
        transition: all 350ms ease-in-out;
        &.open {
          max-height: 5000px;
        }
      }
      .fonte {
        font-family: "Josefin Sans";
        color: #626262;
        font-size: 0.9375em;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section.imprensa {
    margin: 0;
    width: 100%;
    overflow: initial;
    .conteudo {
      padding: 15px;
      margin: 0;
      max-width: 100%;
    }
  }
}
