section.inspiracao {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  .conteudo {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  section.inspiracao {
    min-width: auto;
    min-height: auto;
    overflow: initial;
    padding-top: 50px;
    padding-bottom: 50px;
    .conteudo {
      margin: 0px;
      padding: 15px;
    }
  }
}
