section.box-logo {
  position: fixed;
  top: 0;
  height: 100%;
  width: 25%;
  z-index: 10;
  overflow: hidden;
  &.open {
    .logo {
      display: flex;
      padding-right: 0;
      &:after {
        transform: translateX(0);
      }
      .box {
        padding: 0;
        img {
          width: 90%;
        }
      }
    }
  }
  &.remove {
    .logo {
      .box {
        img {
          opacity: 0;
        }
      }
    }
  }
  .logo {
    z-index: 10;
    height: calc(100% - 100px);
    padding: 50px;
    position: relative;
    transition: all 350ms ease-in-out;
    &:after {
      content: "";
      background-color: #545454;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateX(-100%);
      transition: all 350ms ease-in-out;
    }
    .box {
      display: flex;
      width: 100%;
      padding: 50px;
      transition: all 350ms ease-in-out;
      img {
        width: 80%;
        padding-right: 15px;
        z-index: 15;
        transition: all 350ms ease-in-out;
        opacity: 1;
      }
    }
  }
}
