section.video {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  &.open {
    &:after {
      display: none;
    }
  }
  &:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    margin: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&0.85+1,0+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(1, 2, 2, 0.85) 1%,
      rgba(125, 185, 232, 0) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(1, 2, 2, 0.85) 1%,
      rgba(125, 185, 232, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(1, 2, 2, 0.85) 1%,
      rgba(125, 185, 232, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    z-index: 2;
    transition: all 350ms ease-in-out;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: white;
    -webkit-mask-image: url("../assets/play-button.svg");
    mask-image: url("../assets/play-button.svg");
    content: "";
    -webkit-mask-size: 50px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 5;
    pointer-events: none;
  }
  .play-viedo {
    cursor: pointer;
  }
  video {
    padding: 50px;
    position: relative;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    object-fit: cover;
    object-position: center;
  }
  .moldura {
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    p {
      font-family: "Brandon Grotesque";
      font-size: 0.75em;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #000;
      text-decoration: none !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  section.video {
    &:before {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      display: none;
    }
    video {
      padding: 0;
      width: 100%;
      height: 100%;
    }
    .moldura {
      padding: 15px;
      width: calc(100% - 30px);
      margin: 0;
      p {
        margin: 0;
        line-height: 1.5;
      }
    }
  }
}
