html,
body {
  overflow: hidden;
}
.menu-hamburger {
  display: none;
}
header {
  position: fixed;
  height: 50px;
  display: flex;
  margin: 0;
  padding: 0 0 0 calc(25% + 50px);
  padding-right: 50px;
  width: 100%;
  z-index: 5;
  justify-content: space-between;
  .close-c {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
    &.menu {
      max-width: 500px;
      opacity: 0;
      pointer-events: none;
      &.enter {
        opacity: 1;
        pointer-events: all;
      }
    }
    &.lg {
      max-width: 60px;
    }
    li {
      display: block;
      position: relative;
      &:hover {
        a {
          color: #c2a573;
        }
        &:before {
          width: 100%;
        }
      }
      &.active {
        a {
          color: #c2a573;
        }
        &:before {
          width: 100%;
        }
      }
      &:before {
        content: " ";
        width: 0;
        height: 1px;
        background-color: #c2a573;
        position: absolute;
        bottom: 0;
        transition: all 350ms ease-in-out;
      }
      a {
        font-family: "Brandon Grotesque";
        font-size: 0.75em;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #000;
        text-decoration: none !important;
      }
    }
  }
}
.animete {
  &.left {
    transform: translateX(100px);
  }
  &.right {
    transform: translateX(-100px);
  }
  opacity: 0;
  transition: all 350ms ease-in-out;
  &.enter {
    transform: translateX(0);
    opacity: 1;
  }
}

.logo {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  padding: 50px;
  z-index: 5;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #545454;
    transform: translateX(-100%);
    transition: all 350ms ease-in-out;
  }
  &.enter {
    &:before {
      content: "";
      transform: translateX(0);
    }
  }
  .box {
    justify-content: center;
    width: 350px;
    height: 220px;
    display: flex;
    align-items: center;
    transition: all 350ms ease-in-out;
    position: relative;
    &.size {
      width: 100%;
      height: 100%;
    }
    img {
      margin: 50px;
      transition: all 350ms ease-in-out;
      height: 120px;
      &.size {
        height: 200px;
      }
    }
  }
}
.section {
  overflow: hidden;
  .video {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
    transform: scale(2);
    transition: all 350ms ease-in-out;
    &.enter {
      transform: scale(1);
    }
    &:before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 100px);
      height: calc(100% - 100px);
      margin: 50px;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&0.85+1,0+100 */
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(1, 2, 2, 0.85) 1%,
        rgba(125, 185, 232, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(1, 2, 2, 0.85) 1%,
        rgba(125, 185, 232, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(1, 2, 2, 0.85) 1%,
        rgba(125, 185, 232, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
      z-index: 2;
      transition: all 350ms ease-in-out;
    }
    video {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .moldura {
    align-items: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px);
    left: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    p {
      font-family: Brandon Grotesque;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #000;
      text-decoration: none !important;
    }
  }
  .conceito,
  .inspiracao,
  .experiencia {
    h2 {
      font-family: "Brandon Grotesque";
      font-size: 2.81em;
      font-weight: 900;
      line-height: 55px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    p {
      color: #6e6e6e;
      font-family: "Josefin Sans";
      font-size: 1.56em;
      font-weight: 300;
      line-height: 1em;
    }
    .box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding: 50px;
    }
    .btn-modal {
      color: #c2a573;
      font-family: "Brandon Grotesque";
      font-size: 0.93em;
      font-weight: 900;
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      text-decoration: underline;
      cursor: pointer;
    }

    .box-itens-modal {
      position: absolute;
      top: 0;
      margin-top: 50px;
      margin-bottom: 50px;
      height: calc(100% - 100px);
      width: calc(100% - 50px);
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      left: 0;
      border: solid 1px #dbdbdb;
      box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.11);
      background-color: #fff;
      transform: translateX(-135%);
      transition: all 350ms ease-in-out;
      &.enter {
        transform: translateX(0);
      }
      .close-c {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 15px;
        height: 15px;
        background-image: url("../assets/close.png");
        transform: translateY(0);
        transition: all 350ms ease-in-out;
        cursor: pointer;
        &:hover {
          transform: translateY(-2px);
        }
      }
      .box-c {
        padding: 50px;
        &:nth-child(3) {
          padding-left: 0;
        }
        .titutlo {
          font-family: "Josefin Sans";
          font-size: 1.43em;
          font-weight: 600;
          line-height: 1em;
        }
        .conteudos {
          max-height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }

  .pessoas {
    .reverse {
      flex-direction: row-reverse;
    }
    .nome {
      p {
        font-size: 1.5em;
        span {
          b {
            color: #c2a573;
            font-family: "Brandon Grotesque";
            font-size: 4em;
            font-weight: 900;
            line-height: 1em;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
        }
      }
    }
    .email {
      color: #848484;
      font-family: "Brandon Grotesque";
      font-size: 0.75em;
      font-weight: 900;
      line-height: 1em;
      text-transform: uppercase;
      position: relative;
      display: flex;
      align-items: center;
      &:before {
        content: " ";
        background-image: url("../assets/shape.png");
        width: 15px;
        height: 10px;
        display: block;
        margin-right: 15px;
      }
    }
    .box-img {
      overflow: hidden;
      img {
        width: calc(100% + 30px);
        margin: 0 -15px;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .btns-redes {
      display: flex;
      align-items: center;
      padding-right: 20px;
      img {
        padding-right: 20px;
      }
    }
    .titulo {
      font-family: "Brandon Grotesque";
      font-size: 0.93em;
      font-weight: 900;
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .item {
      p {
        color: #626262;
        font-family: "Josefin Sans";
        font-size: 1.375em;
        font-weight: 300;
      }
    }
    .box-conteudo {
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .scroll-c {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .imprensa {
    .titulo {
      color: #c2a573;
      font-family: "Brandon Grotesque";
      font-size: 1.125em;
      font-weight: 900;
      line-height: 55px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
    .conteudo {
      color: #626262;
      font-family: "Josefin Sans";
      font-size: 1.4375em;
      font-weight: 300;
      line-height: 30px;
    }
    .fonte {
      color: #626262;
      font-family: "Josefin Sans";
      font-size: 0.9375em;
      font-weight: 300;
      line-height: 30px;
    }
    .box {
      padding: 100px 0 100px 50px;
      .conteudo {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        max-height: 2em;
        transition: all 350ms ease-in-out;
        &.open {
          max-height: 5000px;
        }
      }
    }
    .scroll-c {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .acordion {
      cursor: pointer;
      .titulo {
        &.open {
          &:before {
            content: " ";
            background-image: url("../assets/close.png");
            width: 18px;
            height: 18px;
            background-size: 100%;
            display: block;
            margin-right: 15px;
            position: absolute;
            right: 20px;
          }
        }
      }
    }
  }

  .contato {
    h2 {
      color: #c2a573;
      font-family: "Brandon Grotesque";
      font-size: 2.8125em;
      font-weight: 900;
      line-height: 55px;
      text-transform: uppercase;
    }
    p {
      font-size: 1.375em;
    }
    p,
    a {
      color: #626262;
      font-family: "Brandon Grotesque";
      font-weight: 420;
      line-height: 35px;
      text-transform: uppercase;
      letter-spacing: 0, 88px;
    }
    .box-container {
      padding: 50px;
    }
    .box-el {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .redes {
      position: absolute;
      bottom: 15px;
      .rede {
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
