.logo {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 25%;
  .mask {
    background: #545454;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.35s ease-in-out;
    transform: translateX(-100%);
    &.enter {
      transform: translateX(0);
    }
  }
  .box-logo {
    position: relative;
    z-index: 1;
    padding: 115px 0 0 125px;
    display: flex;
    transition: all 0.35s ease-in-out;
    height: 125px;
    align-items: center;
    justify-content: flex-start;
    &.animate {
      position: relative;
      padding-left: 115px;
      padding-top: 0;
      height: 100%;
      justify-content: center;
    }
  }
}
