footer {
  .page {
    position: absolute;
    bottom: 0;
    left: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
    opacity: 1;
    transform: translateY(0);
    transition: all 350ms ease-in-out;
    &.exit {
      transform: translateY(100%);
      opacity: 0;
    }
    h6 {
      font-family: "Brandon Grotesque";
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase;
      color: #000;
      font-size: 0.75em;
      letter-spacing: 0.2em;
    }
  }
}
